/*=================================================
	           Responsive.css 
	Author Name: Nazmul Islam Swapan
	Author Web: http://www.nazmul-islam.com
	Author Cell No: +880-1716-307381
	Author Email: admin@nazmul-islam.com	
===================================================*/

/*	Landscape Tablet Layout: 1024px    */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	
    header {
      height: 1140px;
    }
    
    .social_icons {
      margin-left: 600px;
    }
    
    .google_map img {
      width: 100%;
    }
	
}

/*	Potrait Tablet Layout: 768px    */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	
    header {
      height: 1140px;
    }
    
    .social_icons {
      margin-left: 180px;
    }
    
    .relative {
      width: 100%;
    }
    
    .google_map img {
      width: 100%;
    }

	
}



/*	Mobile Layout: 320px   */

@media only screen and (max-width: 767px) {

        	
    header {
      height: 920px;
    }
    
    .social_icons {
      margin-left: 100px;
    }
    
    .social_icons img {
      margin-right: 20px;
      margin-top: 30px;
    }
    
    .social_icons p {
      margin: 20px 48px;
    }
    
    .logo {
      margin-bottom: 40px;
    }
    
    .logo img {
      width: 100%;
    }
    
    .visual_entertainment img {
      padding-top: 25px;
      width: 100%;
    }
    
    .relative {
      width: 100%;
    }
    
    .google_map img {
      width: 100%;
    }
    
    .event_01_details p {
      font-size: 13px;
    }
    
    
    .date_and_time {
      padding-top: 0;
    }
    
    .date_and_time h3 {
      font-size: 20px;
      padding-left: 10px;
    }
    
    .date_and_time span {
      font-size: 30px;
    }
    
    .event_02_title h2 {
      font-size: 50px;
    }
    
    .event_02_title h3 {
      font-size: 30px;
    }
    
    .details {
      bottom: 20px;
      font-size: 15px;
      line-height: 30px;
    right: -15px;
    }
    
    .starts {
      font-size: 15px;
      padding: 0 15px;
      text-align: center;
    }
    
    .event_03_title {
      font-size: 25px;
    }
    
    .event_03_time {
      bottom: 0px;
    }
    
    .details2 {
      bottom: 20px;
    font-size: 18px;
    left: -20px;
    }
    
    .event4_title {
      font-size: 35px;
      right: 40px;
      top: 40px;
    }
    
    .date_and_time h3 {
      font-size: 15px;
      padding-left: 10px;
    }
    
    .date_and_time span {
      font-size: 25px;
    }
    
    .event_01_details p {
      font-size: 15px;
    }
    
    .about_us_content h2, .address h2 {
      padding-top: 40px;
    }
    
    .about_us_content p, .address p {
      text-align: justify;
      padding: 10px;
    }
    
}



/*	Wide Mobile Layout: 480px   */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	
    	
    header {
      height: 1200px;
    }
    
    .social_icons {
      margin-left: 180px;
    }
    
    .social_icons p {
      margin: 20px 120px;
    }
    
    .relative {
      width: 100%;
    }
    
    .event_01_details p {
      font-size: 19px;
    }
    
    .date_and_time span {
      font-size: 40px;
    }
    
    .event_02_title h2 {
      font-size: 70px;
    }
    
    
    .details {
      bottom: 35px;
      font-size: 22px;
      line-height: 35px;
    }
    
    
    .event_03_title {
      font-size: 40px;
    }
    
    .event_03_time {
      bottom: 20px;
    }
    
    .details2 {
      bottom: 30px;
    }
    
    .event4_title {
      font-size: 50px;
      right: 80px;
      top: 60px;
    }
    
    .google_map img {
      width: 100%;
    }
}



/*	Retina media query.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */

@media 
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2) {
	
	body {
	
	}
	